@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

.home-background {
  background-image: linear-gradient(to right, #A8E0F2, #E8C2F5);
  margin: 5px;
}

.home-text {
  max-width: 300px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  color: #2C2C2C;
}
.home-text h1 {
  font-size: 50px;
}
.home-text h2 {
  font-size: 15px;
}

.home-text h1, h2, p {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.home-pc img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.delivery-img, .money-img, .collect-img {
  font-size: 30px;
  width: 20px;
  margin: auto;
}

.learn-more {
  color: #06c;
}

.info-container {
  margin: 10px;
  padding: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.info-container p {
  text-align: center;
  height: 48px;
  margin-bottom: 10px;
}

.components-bg {
  background-color: #F4F4F4;
  padding: 20px;
}

.components-box h1, p {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  color: #2C2C2C;
}

.components-box p {
  color: #b62897;
}

.components-pic {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

.featured-text {
  color: #2C2C2C;
  font-size: 23px;
  margin: 50px 10px 10px 20px;
}

.results .result {
  width: 280px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  margin: 20px auto;
  border-radius: 10px;
}
.results .result img {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: block;
}
.results .result h2 {
  margin: 5px 15px 5px 15px;
  font-size: 20px;
}
.results .result p {
  font-size: 15px;
  margin: 5px 15px 5px 15px;
  color: #494949;
}
.results .result h3 {
  margin: 20px 15px 5px 15px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.results .result button {
  background-image: linear-gradient(to right, #ff7a00, #Ffe600);
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: #2C2C2C;
  border-radius: 10px;
  border-color: whitesmoke;
}

@media screen and (min-width: 768px) {
  .home-background {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 400px;
    margin: 10px;
  }
  .home-background .home-text {
    padding: 0;
  }
  .home-background h1 {
    width: 300px;
  }
  .home-background h2 {
    font-size: 25px;
    width: 350px;
    margin-top: 10px;
  }
  .home-background p {
    margin-top: 10px;
  }
  .home-background .home-pc img {
    width: 350px;
  }

  .results {
    display: flex;
    flex-wrap: wrap;
  }

  .info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    display: flex;
    flex-wrap: inherit;
  }
  .info-container p {
    margin: 0 5px 0 5px;
  }
  .info-container .delivery {
    margin-bottom: 40px;
  }

  .components-pic {
    width: 45%;
  }
}
@media screen and (min-width: 1024px) {
  .home-background {
    margin: 20px;
  }

  .info-container {
    display: flex;
    flex-wrap: inherit;
    justify-content: space-evenly;
  }
  .info-container p {
    margin: 0 10px 0 10px;
  }
}
.footer {
  background-color: #2C2C2C;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer p {
  color: white;
}

.logo-container {
  background-color: #2c2c2c;
  color: white;
}

.menu-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 40px;
}

.nav-link {
  list-style: none;
  color: white;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.info-banner {
  height: 30px;
  background-color: #db4ab0;
  padding: 5px;
  color: white;
}

.info-1,
.info-2,
.info-3 {
  position: absolute;
  display: block;
  text-align: center;
  width: 50%;
  font-size: 12px;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.info-1 {
  animation-name: info-1;
}

.info-2 {
  animation-name: info-2;
}

.info-3 {
  animation-name: info-3;
}

@keyframes info-1 {
  0%, 8.3% {
    left: -100%;
    opacity: 0;
  }
  8.3%, 25% {
    left: 25%;
    opacity: 1;
  }
  33.33%, 100% {
    left: 50%;
    opacity: 0;
  }
}
@keyframes info-2 {
  0%, 33.33% {
    left: -100%;
    opacity: 0;
  }
  41.63%, 58.29% {
    left: 25%;
    opacity: 1;
  }
  66.66%, 100% {
    left: 50%;
    opacity: 0;
  }
}
@keyframes info-3 {
  0%, 66.66% {
    left: -100%;
    opacity: 0;
  }
  74.96%, 91.62% {
    left: 25%;
    opacity: 1;
  }
  100% {
    left: 50%;
    opacity: 0;
  }
}
.products-headline-container {
  margin-left: 20px;
}
.products-headline-container h1 {
  font-family: "Roboto", sans-serif;
}

/*# sourceMappingURL=output.css.map */
