@use "variables";

.footer {
    background-color: variables.$navColor;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        color: white;
    }
}