@use "variables";


@mixin product {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;   
}

@mixin cartBtn {
    background-image: linear-gradient(to right, #8200ff, #dc00fe);
    margin: 10px 10px 10px 10px;
    padding: 10px;
    text-align: center;
    width: 260px;
    color: #fff;
    border-radius: 29px;
    border: none;
}

@mixin editbtn {
    background-image: #fff;
    
}

@mixin backBtn {
    background: #ffffff;

    margin: 10px;
    padding: 5px;
    text-align: center;
    width: 40px;
    color: #000;
    border-radius: 50%;
    border: none;
}